.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}
.navbar-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
    gap: 20px;
}
.navbar-right{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}
.navbar-button{
    background-color: transparent;
    color: gray;
}